.front {
    width: 400px;
    margin: 30px 32px 45px 100px;
    background-color: #f0f0f0;
    color: #666;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
}

.booking_area{
    display: inline;
}

#seat{
    display: table;
    margin: 10px 32px 45px 150px;
}

.seatRow{
    display: table-row;
}

.seatCol{
    display: table-cell;
    width:25px;
    height: 25px;
    background-color: #B9DEA0;
    border-radius: 5px;
    margin: 8px;
}

.badSeat{
    background: #999999;
}

#legend{
    float: left;
}

.seatCol:hover{
    background-color: #999;
}
